<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California House Price</title>
</head>
<body>
    <div class="predict">
        <h1>California House Price Prediction</h1>
        <form action="{{ url_for('predict') }}" method="POST" >
            <input type="text" title="median income in block group" name="MedInc" placeholder="MedInc" required="required" /><br>
            <input type="text" title="median house age in block group" name="HouseAge" placeholder="HouseAge" required="required" /><br>
            <input type="text" title="average number of rooms per household" name="AveRooms" placeholder="AveRooms" required="required" /><br>
            <input type="text" title="average number of bedrooms per household" name="AveBedrms" placeholder="AveBedrms" required="required" /><br>
            <input type="text" title="block group population" name="Population" placeholder="Population" required="required" /><br>
            <input type="text" title="average number of household members" name="AveOccup" placeholder="AveOccup" required="required" /><br>
            <input type="text" title="block group latitude" name="Latitude" placeholder="Latitude" required="required" /><br>
            <input type="text" title="block group longitude" name="Longitude" placeholder="Longitude" required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>
        {{prediction_text}}
    </div>
</body>
</html>